<div>
    <h2>
        <span jhiTranslate="schwarzschildApp.linkage.home.title">Linkages</span>
        <button class="btn btn-primary float-right jh-create-entity create-linkage" [routerLink]="['/', { outlets: { popup: ['linkage-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="schwarzschildApp.linkage.home.createLabel">
            Create new Linkage
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="linkages">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="schwarzschildApp.linkage.creationTime">Creation Time</span></th>
            <th><span jhiTranslate="schwarzschildApp.linkage.dependee">Dependee</span></th>
            <th><span jhiTranslate="schwarzschildApp.linkage.dependant">Dependant</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let linkage of linkages ;trackBy: trackId">
                <td><a [routerLink]="['../linkage', linkage.id ]">{{linkage.id}}</a></td>
                <td>{{linkage.creationTime | date:'medium'}}</td>
                <td>
                    <div *ngIf="linkage.dependee">
                        <a [routerLink]="['../stone', linkage.dependee?.id ]" >{{linkage.dependee?.shortName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="linkage.dependant">
                        <a [routerLink]="['../stone', linkage.dependant?.id ]" >{{linkage.dependant?.shortName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../linkage', linkage.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'linkage/'+ linkage.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'linkage/'+ linkage.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
