
<div *ngIf="linkage">
    <h2><span jhiTranslate="schwarzschildApp.linkage.detail.title">Linkage</span> {{linkage.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="schwarzschildApp.linkage.creationTime">Creation Time</span></dt>
        <dd>
            <span>{{linkage.creationTime | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="schwarzschildApp.linkage.dependee">Dependee</span></dt>
        <dd>
            <div *ngIf="linkage.dependee">
                <a [routerLink]="['/stone', linkage.dependee?.id]">{{linkage.dependee?.shortName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="schwarzschildApp.linkage.dependant">Dependant</span></dt>
        <dd>
            <div *ngIf="linkage.dependant">
                <a [routerLink]="['/stone', linkage.dependant?.id]">{{linkage.dependant?.shortName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'linkage/'+ linkage.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
